.card {
  margin-bottom: var(--spacing-xl);
  padding: var(--spacing-lg);
  background-color: white !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-lg);
}

.headerTitle {
  color: var(--color-content-secondary);
  font-size: var(--font-subtitle);
}

.chartSection {
  padding: var(--spacing-md) 0;
}
