.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: var(--spacing-md);
}

.widgetsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
